<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SavoryRestaurant"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">


    <!-- FIRST PAGE (Homepage) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- User Selection Page -->
        <activity android:name=".UserSelectionActivity" />

        <!-- Guest Sign in -->
        <activity android:name=".GuestSigninActivity" />

        <!-- Guest Register-->
        <activity android:name=".GuestRegisterActivity" />

        <!-- Login Page -->
        <activity android:name=".LoginActivity" />

        <!-- Profile-->
        <activity android:name=".ProfileActivity" />

        <!-- Guest Profile-->
        <activity android:name=".GuestProfileActivity" />

        <!-- Guest Dashboard -->
        <activity android:name=".GuestDashboardActivity" />

        <!-- Staff Dashboard -->
        <activity android:name=".DashboardActivity" />

        <!-- Menu Management -->
        <activity android:name=".MenuActivity" />

        <!-- Menu Edit -->
        <activity android:name=".MenuEditActivity" />

        <!-- Reservation Edit -->
        <activity android:name=".ReservationActivity" />

        <!-- Guest Reservation  -->
        <activity android:name=".GuestReservationActivity" />

        <!-- Guest Menu  -->
        <activity android:name=".GuestMenuActivity" />

        <!-- Guest Reservation Add  -->
        <activity android:name=".GuestAddReservationActivity" />

        <!-- Notification  -->
        <activity android:name=".NotificationActivity" />

        <!-- Guest Notification  -->
        <activity android:name=".GuestNotificationActivity" />












    </application>

</manifest>
